body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unitButton {
  margin: 30px; 
  font-size: 50px
}

.quiz {
  padding: 0px 100px
}

@media (max-width: 600px) {
  .quiz {
    padding: 0px 20px;
  }

  .unitButton {
    margin: 30px; 
    font-size: 25px
  }

}


.header-header {
  background-color: black;
  padding: 0 0 30px 0
}

.header-footer {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold; 
  font-size: 40px; 
  color: white; 
  letter-spacing: 5px;
  padding: 0 0 10px 0;
  display: inline-block;
  position: relative;
  top: 6px
}

.cancel-btn {
  width: 100px;
}

